.tempomap-card {
  font-family: "Passion One", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
}
.tempomap-card div.cover-image {
  height: 100%;
  width: 100%;
}
.tempomap-card small {
  font-size: 0.6rem;
}
.tempomap-card p {
  margin: 0px;
  font-size: 1rem;
}
.tempomap-card hr {
  margin: 0.2rem 0;
}
.tempomap-card a {
  text-decoration: none;
  color: black;
}
